body{
    margin: 20px;
}
h3{
    padding: 20px;
}
.blog-header{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}
h1{
    margin-bottom: 5px;
}
.blog-div{
    text-align: justify;
    width: 100%;
    margin-top: 40px;
    border: 2px rgb(222, 212, 212) solid;
    padding: 0 0 20px 0;
    background-color: rgb(240, 237, 232);
    border-radius: 2px;

    
}
#bg{
    width: 100%;
}
.blog-div-2{
        padding: 0px;
}
.blog-div-2{
        font-family: fantasy;
        font-size: 16px;

}
.blog-div-3{
    padding: 20px;
    padding-top: 0;
}
.blog-div-4{
        float: left;
        width: 50%;

} 
.comment-div{
        float: right;


}  
.button-r{
    background-color: rgba(38, 195, 200, 0.958);
    color: black;
    border-radius: 5px;
    padding: 10px 5px;
    border: salmon;
    transition-duration: 0.5s;
   
}
button:hover{
    background-color: darkgray;
    color: white;

}
.container-div-1{
    float: right;
    width: 30%;
    margin: 0px;
}
.container-div-2{
    float: left;
    width: 68%;;
}
li{
    list-style: none;
    height: 60px;
    contain: size;
    text-align: -webkit-left;
    padding: 12px 5px 0 10px;
}
li:hover{
    background-color: darkgrey;
    color: white;
    border-radius: 0px;
    border-color: dimgrey;
    transition: 0.3s;
}
h4{
    background-color:#d9c4a555 ;
    height: 40px;
    padding: 12px 0px 0px 5px ;
    margin: 0px 0px 5px;
    border-radius: 3px;
    font-size: 20px;
    font-family: monospace;
}
.post-div-1{
    border: solid 2px rgb(140, 134, 134);
    background-color: rgba(175, 173, 172, 0.521);
    margin-top: 5px;
    border-radius: 4px;
    margin-left: 5px;
    height: 40px;
    width: 92%;
}
.footer-div{
    width: 50%;
    float: ;
    margin-top: 40px;
    background-color: cornflowerblue;
}